* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,
p {
    font-size: 1em;
}

section {
    font-size: 32px;
}

h1 {
    font-size: 3em;
}

div {
    height: 1em;
    width: 1em;
    background-color: red;
}